@font-face {
  font-family: 'Arno Pro';
  src: url('../assets/fonts/Arno Pro Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arno Pro';
  src: url('../assets/fonts/Arno Pro Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arno Pro';
  src: url('../assets/fonts/Arno Pro Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Arno Pro';
  src: url('../assets/fonts/Arno Pro Bold Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Arno Pro';
  src: url('../assets/fonts/Arno Pro Light Display.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Arno Pro';
  src: url('../assets/fonts/Arno Pro Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Arno Pro', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
